// CSS Reset
@import 'reset';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

// Variables
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$dmSerifDisplay: 'DM Serif Display', serif; // headings, weights: 400
$karla: 'Karla', sans-serif; // body, weights: 400, 700

// Mixin
@mixin pad {
    @media (max-width: 900px) {
        @content;
    }
}

// My Css
* {
    box-sizing: border-box;
}

body {
    font-family: $karla;
    background: #fff;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    text-transform: uppercase;
    color: $darkGrayishViolet;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

h1 {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 115px;
    height: 18px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.button {
    text-transform: uppercase;
    background: transparent;
    padding: 10px 25px;
    transition: all .3s;
}

.menu {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        transition: all .3s;
        &:hover {
            color: $veryDarkViolet;
        }
    }
    .button {
        color: $veryDarkViolet;
        border: 1px solid $veryDarkViolet;
        margin-left: 10px;
        &:hover {
            background: $veryDarkViolet;
            color: #fff;
        }
    }
}

.intro {
    background-color: $darkViolet;
    color: #fff;
    margin-bottom: 300px;
    position: relative;
    .container {
        padding-top: 100px;
        padding-bottom: 130px;
        position: relative;
    }
}

.intro_text {
    width: 48%;
    h2 {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 20px;
        font-family: $dmSerifDisplay;
        font-size: 60px;
        position: relative;
    }
    h2::after {
        content: '';
        width: 150px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    p {
        line-height: 1.5;
    }
    .button {
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 30px;
        &:hover {
            background: #fff;
            color: $veryDarkViolet;
        }
    }
}

.difference {
    h2 {
        padding-top: 50px;
        padding-bottom: 90px;
        font-family: $dmSerifDisplay;
        color: $veryDarkViolet;
        font-size: 60px;
        position: relative;
    }
    h2::after {
        content: '';
        width: 150px;
        height: 1px;
        background: $grayishBlue;
        position: absolute;
        top: 0;
        left: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        width: 31.5%;
    }
    img {
        width: 86px;
        height: 86px;
        margin-bottom: 40px;
    }
    h3 {
        padding-bottom: 20px;
        font-family: $dmSerifDisplay;
        color: $veryDarkViolet;
        font-size: 28px;
    }
    p {
        line-height: 1.5;
        color: $darkGrayishViolet;
    }
}

.findMore {
    color: #fff;
    .card {
        background-color: $darkViolet;
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        background-position: right center;
        padding: 50px;
        margin: 130px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p {
        font-family: $dmSerifDisplay;
        font-size: 46px;
    }
    a {
        border: 1px solid #fff;
        &:hover {
            background: #fff;
            color: $veryDarkViolet;
        }
    }
}

footer {
    background-color: $veryLightGray;
    color: $veryDarkViolet;
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    text-transform: uppercase;
    position: relative;
    .container {
        padding-top: 60px;
        padding-bottom: 100px;
    }
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid $grayishBlue;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }
    a {
        font-size: 24px;
        color: $darkGrayishViolet;
        &:hover {
            color: $veryDarkViolet;
        }
    }
}

.footer_logo {
    width: 115px;
    height: 18px;
}

.footer_lists {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    > li {
        flex: 1;
    }
    h4 {
        color: $darkGrayishViolet;
        padding-bottom: 40px;
    }
    ul {
        li {
            padding-bottom: 20px;
        }
    }
    a {
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: none;
    a {
        display: inline-block;
        color: $veryDarkViolet;
        &:hover {
            text-decoration: underline;
        }
    }
}

// images
.intro_img {
    width: 540px;
    height: 650px;
    position: absolute;
    top: 50px;
    right: 10px;
}

.intro_patternLeft {
    width: 195px;
    height: 504px;
    position: absolute;
    left: 0;
    bottom: -330px;
}

.intro_patternRight {
    width: 436px;
    height: 593px;
    position: absolute;
    right: 0;
    top: 0;
}