/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  text-transform: uppercase;
  color: #837d87;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 115px;
  height: 18px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  background: transparent;
  padding: 9px 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu_list {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .menu_list {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: #2d2640;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 30px;
  }
}

.menu_list a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .menu_list a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.menu_list a:hover {
  color: #2b272f;
}

.menu_list .button {
  color: #2b272f;
  border: 1px solid #2b272f;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .menu_list .button {
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 0;
  }
}

.menu_list .button:hover {
  background: #2b272f;
  color: #fff;
}

@media (max-width: 900px) {
  .menu_list .button:hover {
    background: #fff;
    color: #2b272f;
  }
}

.menu_icon {
  display: none;
}

@media (max-width: 600px) {
  .menu_icon {
    display: block;
  }
}

.intro {
  background-color: #2d2640;
  color: #fff;
  margin-bottom: 300px;
  position: relative;
}

@media (max-width: 600px) {
  .intro {
    margin-bottom: 130px;
    text-align: center;
  }
}

.intro .container {
  padding-top: 100px;
  padding-bottom: 130px;
  position: relative;
}

@media (max-width: 600px) {
  .intro .container {
    padding: 0;
  }
}

.intro_text {
  width: 48%;
}

@media (max-width: 600px) {
  .intro_text {
    width: 100%;
    padding-bottom: 80px;
  }
}

.intro_text h2 {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  position: relative;
}

@media (max-width: 600px) {
  .intro_text h2 {
    width: 85%;
    margin: 0 auto;
    font-size: 44px;
    padding-top: 80px;
  }
}

.intro_text h2::after {
  content: '';
  width: 150px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .intro_text h2::after {
    display: none;
  }
}

.intro_text p {
  line-height: 1.5;
}

@media (max-width: 600px) {
  .intro_text p {
    padding: 0 26px;
  }
}

.intro_text .button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 30px;
}

.intro_text .button:hover {
  background: #fff;
  color: #2b272f;
}

@media (max-width: 900px) {
  .intro_text .button:hover {
    background: #2b272f;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .difference {
    text-align: center;
  }
}

.difference h2 {
  padding-top: 50px;
  padding-bottom: 90px;
  font-family: "DM Serif Display", serif;
  color: #2b272f;
  font-size: 60px;
  position: relative;
}

@media (max-width: 600px) {
  .difference h2 {
    font-size: 48px;
  }
}

.difference h2::after {
  content: '';
  width: 150px;
  height: 1px;
  background: #95a9c6;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .difference h2::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.difference ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .difference ul {
    display: block;
  }
}

.difference li {
  width: 31.5%;
}

@media (max-width: 600px) {
  .difference li {
    width: 100%;
    margin-bottom: 70px;
  }
}

.difference img {
  width: 86px;
  height: 86px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .difference img {
    margin-left: auto;
    margin-right: auto;
  }
}

.difference h3 {
  padding-bottom: 20px;
  font-family: "DM Serif Display", serif;
  color: #2b272f;
  font-size: 28px;
}

.difference p {
  line-height: 1.5;
  color: #837d87;
}

.findMore {
  color: #fff;
}

.findMore .card {
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 50px 70px;
  margin: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .findMore .card {
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-position: right top;
    padding: 70px 50px;
    display: block;
    text-align: center;
  }
}

.findMore p {
  font-family: "DM Serif Display", serif;
  font-size: 46px;
}

@media (max-width: 900px) {
  .findMore p {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .findMore p {
    font-size: 36px;
  }
}

.findMore a {
  border: 1px solid #fff;
}

@media (max-width: 900px) {
  .findMore a {
    display: inline-block;
    margin-top: 50px;
  }
}

.findMore a:hover {
  background: #fff;
  color: #2b272f;
}

@media (max-width: 900px) {
  .findMore a:hover {
    background: #2b272f;
    color: #fff;
  }
}

footer {
  background-color: #fafafa;
  color: #2b272f;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 600px) {
  footer {
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    text-align: center;
  }
}

footer .container {
  padding-top: 60px;
  padding-bottom: 100px;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #95a9c6;
}

@media (max-width: 600px) {
  .footer_top {
    display: block;
  }
}

.footer_top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
}

@media (max-width: 600px) {
  .footer_top ul {
    margin: 0 auto;
  }
}

.footer_top a {
  font-size: 24px;
  color: #837d87;
}

.footer_top a:hover {
  color: #2b272f;
}

@media (max-width: 900px) {
  .footer_top a:hover {
    color: #837d87;
  }
}

.footer_logo {
  width: 115px;
  height: 18px;
}

@media (max-width: 600px) {
  .footer_logo {
    margin: 0 auto 30px;
  }
}

.footer_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

@media (max-width: 900px) {
  .footer_lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .footer_lists {
    display: block;
  }
}

.footer_lists > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 900px) {
  .footer_lists > li {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .footer_lists > li {
    width: 100%;
  }
}

.footer_lists h4 {
  color: #837d87;
  padding-bottom: 40px;
}

.footer_lists ul li {
  padding-bottom: 20px;
}

.footer_lists a {
  display: inline-block;
}

.footer_lists a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footer_lists a:hover {
    text-decoration: none;
  }
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: none;
}

.attribution a {
  display: inline-block;
  color: #2b272f;
}

@media (max-width: 900px) {
  .attribution a {
    text-decoration: underline;
  }
}

.attribution a:hover {
  text-decoration: underline;
}

.intro_img {
  background-image: url("../images/image-intro-desktop.jpg");
  background-repeat: no-repeat;
  max-width: 48%;
  width: 540px;
  height: 650px;
  position: absolute;
  top: 100px;
  right: 20px;
}

@media (max-width: 600px) {
  .intro_img {
    background-image: url("../images/image-intro-mobile.jpg");
    background-size: cover;
    position: static;
    max-width: 100%;
    width: 100%;
    height: calc(100vw * 1.2);
  }
}

.intro_patternLeft {
  background-image: url("../images/bg-pattern-intro-left-desktop.svg");
  width: 195px;
  height: 504px;
  position: absolute;
  left: 0;
  bottom: -400px;
}

@media (max-width: 600px) {
  .intro_patternLeft {
    background-image: url("../images/bg-pattern-intro-left-mobile.svg");
    width: 168px;
    height: 165px;
    top: calc(100vw * 1.2);
  }
}

.intro_patternRight {
  background-image: url("../images/bg-pattern-intro-right-desktop.svg");
  width: 436px;
  height: 593px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 600px) {
  .intro_patternRight {
    background-image: url("../images/bg-pattern-intro-right-mobile.svg");
    width: 124px;
    height: 330px;
    top: calc(100vw * 1.2 + 300px);
  }
}

.d-block {
  display: block;
}
/*# sourceMappingURL=style.css.map */